<section class="py-10 space-y-10">

  <h1 class="text-xl font-semibold text-center">Mi Carrito de Compras</h1>

  <div class="mx-auto max-w-[50rem] space-y-2">

    <article id="product-1"
      class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 grid grid-cols-[1fr_auto_auto_auto] items-center gap-x-10 py-2 px-5 rounded-xl bg-gray-100">

      <a routerLink="/producto/1" class="flex items-center gap-x-3 w-fit group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaCcIhyHOzRdqkKI2gtLi0R4Q27OWNJMEbMg&s" alt="">
        </div>

        <div class="space-y-1 text-sm ">
          <h1 class="font-semibold truncate group-hover:underline underline-offset-4">STAYER Taladro Reversible 3/8 pulg
          </h1>
          <p class="text-xs font-medium text-gray-500">S/. 92.50</p>
        </div>
      </a>

      <!-- Input Number -->
      <div class="" data-hs-input-number="">
        <div class="flex items-center gap-x-1.5">
          <button type="button"
            class="inline-flex items-center justify-center font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          </button>
          <input
            class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
            style="-moz-appearance: textfield;" type="number" aria-roledescription="Number field" value="0"
            data-hs-input-number-input="">
          <button type="button"
            class="inline-flex items-center justify-center text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- End Input Number -->

      <p class="text-sm font-semibold">S/.200</p>

      <button type="button" class="text-gray-500 hover:text-black" data-hs-remove-element="#product-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trash-2 size-4">
          <path d="M3 6h18" />
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          <line x1="10" x2="10" y1="11" y2="17" />
          <line x1="14" x2="14" y1="11" y2="17" />
        </svg>
      </button>
    </article>

    <article id="product-2"
      class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 grid grid-cols-[1fr_auto_auto_auto] items-center gap-x-10 py-2 px-5 rounded-xl bg-gray-100">

      <a routerLink="/producto/1" class="flex items-center gap-x-3 w-fit group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://i0.wp.com/grupocasalima.com/wp-content/uploads/2022/06/venta-de-martillo-51274-casa-lima.webp?fit=900%2C900&ssl=1"
            alt="">
        </div>

        <div class="space-y-1 text-sm">
          <h1 class="font-semibold group-hover:underline underline-offset-4">Martillo de Uña 29MM - 51274</h1>
          <p class="text-xs font-medium text-gray-500">S/. 30.00</p>
        </div>
      </a>

      <!-- Input Number -->
      <div class="" data-hs-input-number="">
        <div class="flex items-center gap-x-1.5">
          <button type="button"
            class="inline-flex items-center justify-center font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          </button>
          <input
            class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
            style="-moz-appearance: textfield;" type="number" aria-roledescription="Number field" value="0"
            data-hs-input-number-input="">
          <button type="button"
            class="inline-flex items-center justify-center text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- End Input Number -->

      <p class="text-sm font-semibold">S/.200</p>

      <button type="button" class="text-gray-500 hover:text-black" data-hs-remove-element="#product-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trash-2 size-4">
          <path d="M3 6h18" />
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          <line x1="10" x2="10" y1="11" y2="17" />
          <line x1="14" x2="14" y1="11" y2="17" />
        </svg>
      </button>
    </article>

    <article id="product-3"
      class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 grid grid-cols-[1fr_auto_auto_auto] items-center gap-x-10 py-2 px-5 rounded-xl bg-gray-100">

      <a routerLink="/producto/1" class="flex items-center gap-x-3 w-fit group">
        <div class="flex items-center bg-white border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://http2.mlstatic.com/D_NQ_NP_773134-MLM49121749266_022022-O.webp" alt="">
        </div>

        <div class="space-y-1 text-sm">
          <h1 class="font-semibold group-hover:underline underline-offset-4">Linterna Recargable Usb Led 120 Lúmenes
            Pretul Lire-120p</h1>
          <p class="text-xs font-medium text-gray-500">S/. 27.92</p>
        </div>
      </a>

      <!-- Input Number -->
      <div class="" data-hs-input-number="">
        <div class="flex items-center gap-x-1.5">
          <button type="button"
            class="inline-flex items-center justify-center font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          </button>
          <input
            class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
            style="-moz-appearance: textfield;" type="number" aria-roledescription="Number field" value="0"
            data-hs-input-number-input="">
          <button type="button"
            class="inline-flex items-center justify-center text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- End Input Number -->

      <p class="text-sm font-semibold">S/.200</p>

      <button type="button" class="text-gray-500 hover:text-black" data-hs-remove-element="#product-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trash-2 size-4">
          <path d="M3 6h18" />
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          <line x1="10" x2="10" y1="11" y2="17" />
          <line x1="14" x2="14" y1="11" y2="17" />
        </svg>
      </button>
    </article>

    <article id="product-4"
      class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 grid grid-cols-[1fr_auto_auto_auto] items-center gap-x-10 py-2 px-5 rounded-xl bg-gray-100">

      <a routerLink="/producto/1" class="flex items-center gap-x-3 w-fit group">
        <div class="flex items-center bg-white border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://cfrouting.zoeysite.com/cdn-cgi/image/format=auto,fit=scale-down,quality=70/https://s3.amazonaws.com/zcom-media/sites/a0i0h00000QJocmAAD/media/catalog/product/a/r/arquivos-ids-156789-30-615.jpg"
            alt="">
        </div>

        <div class="space-y-1 text-sm">
          <h1 class="font-semibold group-hover:underline underline-offset-4">CINTA METRICA GLOBAL PLUS DE 5 METROS
            30-615</h1>
          <p class="text-xs font-medium text-gray-500">S/. 17.00</p>
        </div>
      </a>

      <!-- Input Number -->
      <div class="" data-hs-input-number="">
        <div class="flex items-center gap-x-1.5">
          <button type="button"
            class="inline-flex items-center justify-center font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          </button>
          <input
            class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
            style="-moz-appearance: textfield;" type="number" aria-roledescription="Number field" value="0"
            data-hs-input-number-input="">
          <button type="button"
            class="inline-flex items-center justify-center text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-md shadow-sm size-6 gap-x-2 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- End Input Number -->

      <p class="text-sm font-semibold">S/.200</p>

      <button type="button" class="text-gray-500 hover:text-black" data-hs-remove-element="#product-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trash-2 size-4">
          <path d="M3 6h18" />
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          <line x1="10" x2="10" y1="11" y2="17" />
          <line x1="14" x2="14" y1="11" y2="17" />
        </svg>
      </button>
    </article>

    <article class="py-5">
      <div class="flex justify-between px-5 py-2 font-semibold border-t gap-x-5">
        <h1>Precio Total:</h1>
        <p>263.00</p>
      </div>
    </article>

  </div>

  <div class="flex items-center mx-auto w-fit gap-x-10">
    <a routerLink="pago"
      class="px-8 py-2.5 text-sm font-semibold text-white rounded-xl bg-primary hover:bg-primary-light">
      Comprar
    </a>

    <a routerLink=""
      class="text-sm font-semibold text-primary underline-offset-4 hover:underline">
      Seguir comprando
    </a>
  </div>
</section>
