<section class="py-10 space-y-10">

  <h1 class="text-xl font-semibold text-center">Historial de Pedidos</h1>

  <div class="flex items-center gap-x-3 max-w-[50rem] mx-auto">
    <button type=""
      class="px-4 py-2 text-xs font-semibold text-white border rounded-full bg-primary border-primary hover:bg-primary-light hover:border-primary-light">
      Esta semana</button>
    <button type=""
      class="px-4 py-2 text-xs font-semibold bg-white border rounded-full border-primary text-primary hover:bg-primary-light hover:text-white hover:border-primary-light">
      Último mes</button>
    <button type=""
      class="px-4 py-2 text-xs font-semibold bg-white border rounded-full border-primary text-primary hover:bg-primary-light hover:text-white hover:border-primary-light">
      Últimos 3 meses</button>
  </div>

  <article class="max-w-[50rem] mx-auto">
    <div class="space-y-5 hs-accordion-group" data-hs-accordion-always-open="">

      <div class="hs-accordion active" id="hs-basic-always-open-heading-one">
        <button
          class="inline-flex items-center justify-between w-full px-5 py-2 text-sm font-semibold bg-white border rounded-md text-primary border-primary-light hover:text-white hs-accordion-active:bg-primary hs-accordion-toggle hs-accordion-active:text-white hs-accordion-active:border-primary hover:bg-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
          aria-expanded="true" aria-controls="hs-basic-always-open-collapse-one">
          Pedido Nro 17112024
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="hidden lucide lucide-chevron-up hs-accordion-active:block size-4">
            <path d="m18 15-6-6-6 6" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="block lucide lucide-chevron-down hs-accordion-active:hidden size-4">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </button>
        <div id="hs-basic-always-open-collapse-one"
          class="hs-accordion-content w-full overflow-hidden transition-[height] text-sm duration-300" role="region"
          aria-labelledby="hs-basic-always-open-heading-one">
          <div class="flex items-center justify-between p-5 pb-0 font-medium text-gray-500">
            <p>07/11/2024</p>
            <p>Entrega a Domicilio</p>
            <p>En camino</p>
            <p>S/. 204.30</p>
          </div>
          <div class="flex items-center justify-center py-5">
            <a routerLink="/pedido/1" class="text-sm font-semibold text-primary hover:underline underline-offset-4">Ver detalles</a>
          </div>
        </div>
      </div>

      <div class="hs-accordion" id="hs-basic-always-open-heading-two">
        <button
          class="inline-flex items-center justify-between w-full px-5 py-2 text-sm font-semibold bg-white border rounded-md text-primary border-primary-light hover:text-white hs-accordion-active:bg-primary hs-accordion-toggle hs-accordion-active:text-white hs-accordion-active:border-primary hover:bg-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
          aria-expanded="false" aria-controls="hs-basic-always-open-collapse-two">
          Pedido Nro 17112024
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="hidden lucide lucide-chevron-up hs-accordion-active:block size-4">
            <path d="m18 15-6-6-6 6" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="block lucide lucide-chevron-down hs-accordion-active:hidden size-4">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </button>
        <div id="hs-basic-always-open-collapse-two"
          class="hs-accordion-content hidden w-full overflow-hidden transition-[height] text-sm duration-300"
          role="region" aria-labelledby="hs-basic-always-open-heading-two">
          <div class="flex items-center justify-between p-5 pb-0 font-medium text-gray-500">
            <p>07/11/2024</p>
            <p>Entrega a Domicilio</p>
            <p>En camino</p>
            <p>S/. 204.30</p>
          </div>
          <div class="flex items-center justify-center py-5">
            <a routerLink="/pedido/1" class="text-sm font-semibold text-primary hover:underline underline-offset-4">Ver detalles</a>
          </div>
        </div>
      </div>

      <div class="hs-accordion" id="hs-basic-always-open-heading-three">
        <button
          class="inline-flex items-center justify-between w-full px-5 py-2 text-sm font-semibold bg-white border rounded-md text-primary border-primary-light hover:text-white hs-accordion-active:bg-primary hs-accordion-toggle hs-accordion-active:text-white hs-accordion-active:border-primary hover:bg-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
          aria-expanded="false" aria-controls="hs-basic-always-open-collapse-three">
          Pedido Nro 17112024
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="block lucide lucide-chevron-down hs-accordion-active:hidden size-4">
            <path d="m6 9 6 6 6-6" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="hidden lucide lucide-chevron-up hs-accordion-active:block size-4">
            <path d="m18 15-6-6-6 6" />
          </svg>
        </button>
        <div id="hs-basic-always-open-collapse-three"
          class="hs-accordion-content hidden w-full overflow-hidden transition-[height] text-sm duration-300"
          role="region" aria-labelledby="hs-basic-always-open-heading-three">
          <div class="flex items-center justify-between p-5 pb-0 font-medium text-gray-500">
            <p>07/11/2024</p>
            <p>Entrega a Domicilio</p>
            <p>Completado</p>
            <p>S/. 204.30</p>
          </div>
          <div class="flex items-center justify-center py-5">
            <a routerLink="/pedido/1" class="text-sm font-semibold text-primary hover:underline underline-offset-4">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
