<section class="py-10 space-y-10">

  <h1 class="text-xl font-semibold text-center">Pedido Nro 17112024</h1>

  <div class="max-w-[50rem] flex gap-x-10 mx-auto">
    <article class="w-full space-y-2">

      <h1 class="pb-3 font-semibold">Lista de Productos</h1>

      <a routerLink="/producto/1" class="flex items-center w-full px-4 py-2 border rounded-xl gap-x-3 group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaCcIhyHOzRdqkKI2gtLi0R4Q27OWNJMEbMg&s" alt="">
        </div>

        <div class="space-y-1 text-xs">
          <h1 class="font-semibold truncate group-hover:underline underline-offset-2">(3) STAYER Taladro Reversible 3/8 pulg
          </h1>
          <p class="text-xs font-medium text-gray-500">S/. 92.50</p>
        </div>
      </a>

      <a routerLink="/producto/1" class="flex items-center w-full px-4 py-2 border rounded-xl gap-x-3 group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaCcIhyHOzRdqkKI2gtLi0R4Q27OWNJMEbMg&s" alt="">
        </div>

        <div class="space-y-1 text-xs">
          <h1 class="font-semibold truncate group-hover:underline underline-offset-2">(3) STAYER Taladro Reversible 3/8 pulg
          </h1>
          <p class="text-xs font-medium text-gray-500">S/. 92.50</p>
        </div>
      </a>

      <a routerLink="/producto/1" class="flex items-center w-full px-4 py-2 border rounded-xl gap-x-3 group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaCcIhyHOzRdqkKI2gtLi0R4Q27OWNJMEbMg&s" alt="">
        </div>

        <div class="space-y-1 text-xs">
          <h1 class="font-semibold truncate group-hover:underline underline-offset-2">(3) STAYER Taladro Reversible 3/8 pulg
          </h1>
          <p class="text-xs font-medium text-gray-500">S/. 92.50</p>
        </div>
      </a>

      <a routerLink="/producto/1" class="flex items-center w-full px-4 py-2 border rounded-xl gap-x-3 group">
        <div class="border size-14 rounded-xl">
          <img class="object-cover w-full max-h-full rounded-xl"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaCcIhyHOzRdqkKI2gtLi0R4Q27OWNJMEbMg&s" alt="">
        </div>

        <div class="space-y-1 text-xs">
          <h1 class="font-semibold truncate group-hover:underline underline-offset-2">(3) STAYER Taladro Reversible 3/8 pulg
          </h1>
          <p class="text-xs font-medium text-gray-500">S/. 92.50</p>
        </div>
      </a>
    </article>

    <article class="w-full space-y-3">

      <h1 class="pb-3 font-semibold">Detalles de la Entrega</h1>

      <div class="flex items-center justify-between text-xs">
        <p>Fecha:</p>
        <p class="font-semibold">17/11/2024 - 02:45 AM</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Usuario:</p>
        <p class="font-semibold">Juan Perez</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Método de Entrega:</p>
        <p class="font-semibold">Delivery</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Dirección de Entrega:</p>
        <p class="font-semibold">Av. London Park 232</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Teléfono:</p>
        <p class="font-semibold">936245721</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Método de Pago:</p>
        <p class="font-semibold">Tarjeta de crédito/débito</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Nro de Tarjeta:</p>
        <p class="font-semibold">4208-XXXX-XXXX-XXXX</p>
      </div>
      <div class="flex items-center justify-between text-xs">
        <p>Comentarios:</p>
        <p class="font-semibold">Ninguno</p>
      </div>
    </article>
  </div>

  <article class="mx-auto w-fit">
    <a routerLink="" class="px-4 py-3 text-xs font-semibold text-white hover:bg-primary-light bg-primary rounded-xl">Regresar</a>
  </article>
</section>
